<div>Welcome in my new App</div>

<a [routerLink]="['/']" routerLinkActive="router-link-active">Home page</a> 
<a [routerLink]="['/login']" routerLinkActive="router-link-active">Login page</a> 
<a [routerLink]="['/error']" routerLinkActive="router-link-active">Error page</a> 
<a [routerLink]="['/notFound']" routerLinkActive="router-link-active">NotFound page</a> 
<a [routerLink]="['/cafe']" routerLinkActive="router-link-active">Cafe - Home Page</a> 
<a [routerLink]="['/cafe/list']" routerLinkActive="router-link-active">Cafe - List page</a> 
<a [routerLink]="['/cafe/detail']" routerLinkActive="router-link-active">Cafe - Detail page</a>
<a [routerLink]="['/product']" routerLinkActive="router-link-active">Product - Home Page</a> 
<a [routerLink]="['/product/list']" routerLinkActive="router-link-active">Product - List page</a> 
<a [routerLink]="['/product/detail']" routerLinkActive="router-link-active">Product - Detail page</a>
<a [routerLink]="['/trainings']" routerLinkActive="router-link-active">Trainings - Home Page</a> 
<a [routerLink]="['/trainings/list']" routerLinkActive="router-link-active">Trainings - List page</a> 
<a [routerLink]="['/trainings/detail']" routerLinkActive="router-link-active">Trainings - Detail page</a> 

<router-outlet></router-outlet>
