
      <mat-card class="detail">
          <!-- Title of an Card -->
          <mat-card-title>
            Cluster
          </mat-card-title>

          <!-- Actual content starts from here -->
          <mat-card-content>
            <vs-stellar-dynamic-form #form
                [fields]="fields"
                [data]="data"
                (keyup.enter)="save()"
                ></vs-stellar-dynamic-form>
            <button mat-raised-button color="primary" (click)="save()">Save</button>
            <button mat-raised-button color="accent" (click)="cancel()">Cancel</button>
          </mat-card-content>
        </mat-card>
